<div class="contentHeader">
    <h1 class="contentTitle">{L_whoiswho}</h1>
</div>
<div>
<h2 id="documentation">
    {L_Documentation}
    <a id="expand_documentation" href="#documentation">
        <i id="documentation_title_icon" class="fa fa-caret-down" aria-hidden="true">

        </i>
    </a>
</h2>
<div style="display: none;" id="documentation_content">
    <h3>{L_Description}</h3>
    <p>{L_description_text}</p>
    <h3>{L_Authentication}</h3>
    <p>{L_authentication_text}:</p>
    <pre style="font-family: Courier;  margin-top: 5px">
    "Authorization: API_KEY"
    </pre>
    <h3>{L_Request}:</h3>
    <pre style="font-family: Courier;">
    curl \
        -H "User-Agent: whoiswho" \
        -H "Authentication: API_KEY" \
        "<span id="server_location"></span>/api.php?function=whoiswho&multidkp_id=1&format=json&name=CHARACTER_NAME"
    </pre>
    <h3>{L_Response}</h3>
    <p>{L_response_test_success}:</p>
    <pre style="font-family: Courier; margin-top: 5px;">
    {
        "user":"SOME_USERNAME",
        "points":98,
        "characters":{
            "CHARACTER_NAME":{
                "class":"Rogue",
                "guild":"{GUILDTAG}",
                "id":1,
                "is_main":true,
                "level":60,
                "name":"admin_test",
                "points":{
                    "current":98,
                    "spent":129,
                    "adjustment":10
                },
                "race":"Barbarian"
            }
        },
        "status":1
    }
    </pre>
    <p>{L_response_test_failure}:</p>
    <pre style="font-family: Courier; margin-top: 5px;">
    {
        "status":0,
        "error":"Character not found"
    }
    </pre>
</div>

<form action="{ACTION}" method="post">
    <div id="wiw_config">
        <div id="wiw_config_protected">
            <fieldset class="settings">
                <legend>{L_settings}</legend>
                <dl>
                    <dt>
                        <label>{L_setting_protected_text}</label>
                        <!-- IF not IS_PROTECTED -->
                        <span style="color: rgb(223, 139, 97);">{L_warning_endpoint_not_protected}</span>
                        <!-- ENDIF -->
                        <br>
                        <span>{L_setting_protected_description}</span>
                    </dt>
                    <dd>
                        <input type="checkbox" {PROTECTED_CHECKBOX} name="is_protected" />
                    </dd>
                </dl>
            </fieldset>
        </div>
    </div>
    <div class="contentFooter" style="margin-top: 10px;">
        <button  name="save" type="submit"  id="save"><i class="fa fa-check"></i>save</button>
    </div>

    {CSRF_TOKEN}
</form>

<script>
    $(document).ready(function(){
        $('#server_location').text(window.location.host);
        $('#expand_documentation').click(function(){
            $("#documentation_title_icon").removeClass("fa-caret-down");
            $("#documentation_title_icon").removeClass("fa-caret-up");
            if($("#documentation_content").is(":visible")){
                $("#documentation_title_icon").addClass("fa-caret-down");
                $("#documentation_content").hide();
            }else{
                $("#documentation_title_icon").addClass("fa-caret-up");
                $("#documentation_content").show();
            }
        });
    });
</script>
